<!--Base Page with header and navigation
# File: base.html
# Author: Mohammed Murshid (murshidm@bu.edu), 11/11/2024
# Description: Base file to hold template
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Voter Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styleees.css' %}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="{% url 'voters' %}">Home</a>
        <a href="{% url 'graphs' %}">Voter Data Graphs</a>
    </nav>
    <hr>

    <!-- Content Block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>