<!-- Base Page with header and navigation
# File: base.html
# Author: Mohammed Murshid (murshidm@bu.edu), 11/21/2024
# Description: Base file to hold template
-->

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jobify{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
</head>
<body>
    <header>
        <h1>Jobify</h1>
        <a href="{% url 'homepage' %}" class="home-btn">Home</a>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn">Login</a>
            <a href="{% url 'create_account' %}" class="btn">Create Account</a>
        {% endif %}

    </header> 

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Jobify</p>
    </footer>
</body>
</html>