{% extends 'project/base.html' %}

{% block title %}Applications for {{ job.position_title }}{% endblock %}

{% block content %}
<h2>Applications for {{ job.position_title }} at {{ job.company.name }}</h2>

<!-- Check if there are applications for the job -->
{% if job_applications %}
    <table class="table">
        <thead>
            <tr>
                <th>Applicant</th>
                <th>Email</th>
                <th>Resume</th>
            </tr>
        </thead>
        <tbody>
            {% for application in job_applications %}
                <tr>
                    <td>{{ application.user.username }}</td>
                    <td>{{ application.user.email }}</td>
                    <td>
                        {% if application.user.resume %}
                            <a href="{{ application.user.resume.url }}" target="_blank">Download Resume</a>
                        {% else %}
                            No resume uploaded
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No applications for this job yet.</p>
{% endif %}
{% endblock %}
