<!--Job applications for job page
# File: job_applications_for_job.html
# Author: Mohammed Murshid (murshidm@bu.edu), 12/9/2024
# Description: Job Application for Job page
-->

{% extends 'project/base.html' %}

{% block title %}Applications for {{ job.position_title }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
<h2>Applications for {{ job.position_title }} at {{ job.company.name }}</h2>

{% if job_applications %}
    <table class="table">
        <thead>
            <tr>
                <th>Applicant</th>
                <th>Email</th>
                <th>Resume</th>
                <th>Application Status</th>
                <th>Application Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for application in job_applications %}
                <tr>
                    <td>{{ application.user.username }}</td>
                    <td>{{ application.user.email }}</td>
                    <td>
                        {% if application.user.resume %}
                            <a href="{{ application.user.resume.url }}" target="_blank">Download Resume</a>
                        {% else %}
                            No resume uploaded
                        {% endif %}
                    </td>
                    <td>{{ application.get_status_display }}</td>
                    <td>{{ application.application_date }}</td>
                    <td>
                        {% if user == job.created_by %}
                            <!-- Apply offer or reject buttons -->
                            <a href="{% url 'schedule_interview' application.pk %}" class="btn btn-secondary">Schedule Interview</a>
                            <form method="post" action="{% url 'offer_or_reject_application' application.id 'offer' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Offer</button>
                            </form>
                            <form method="post" action="{% url 'offer_or_reject_application' application.id 'reject' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No applications for this job yet.</p>
{% endif %}
{% endblock %}
