<!--Login page
# File: login.html
# Author: Mohammed Murshid (murshidm@bu.edu), 12/9/2024
# Description: Login page
-->

{% extends 'project/base.html' %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="id_username">Username (Case Sensitive):</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_password">Password (Case Sensitive):</label>
            {{ form.password }}
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'create_account' %}">Create one here</a>.</p>
</div>
{% endblock %}