<!--
# File: not_logged_in.html
# Author: Mohammed Murshid (murshidm@bu.edu), 12/3/2024
# Description: Page displayed after logout with options to log in or create an account
-->
{% extends 'project/base.html' %}

{% block content %}
  <div class="logout-confirmation">
      <h2>You have been logged out</h2>
      <p>Thank you for visiting Jobify</p>
      <a href="{% url 'login' %}" class="login-again-btn">Log in again</a>
      <a href="{% url 'create_account' %}" class="create-account-btn">Create an account</a>
  </div>
{% endblock %}
