<!--Base Page with header and navigation-->
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Mini Facebook{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
</head>
<body>
    <header>
        <h1>MiniFacebook</h1>
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 MiniFacebook</p>
    </footer>
</body>
</html>