<!--Base Page with header and navigation
# File: base.html
# Author: Mohammed Murshid (murshidm@bu.edu), 10/6/2024
# Description: Base file to hold template
-->

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Mini Facebook{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <header>
        <h1>MiniFacebook</h1>
        <a href="{% url 'show_all_profiles' %}" class="all-profiles-btn">All Profiles</a>
        <a href="{% url 'create_profile' %}" class="create-profile-btn">Create Profile</a>
        {% if user.is_authenticated %}
        {% if user_profile %}
        <a style="border: 3px solid #4b0082; border-radius: 20px; color:white; font-size: 1rem;" href="{% url 'show_profile' user_profile.pk %}">My Profile</a>
        {% endif %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="border: 3px solid #4b0082; border-radius: 20px; color:white; font-size: 1rem;">Logout</button>
        </form>
        <span>Logged In</span>
        {% else %}
            <a style="border: 3px solid #4b0082; border-radius: 20px; color:white; font-size: 1rem;" href="{% url 'login' %}">Login</a></br>
            <span style="color:white; font-size: 1rem;">Not Logged In</span>
        {% endif %}
    </header> 

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 MiniFacebook</p>
    </footer>
</body>
</html>