<!--
# File: login.html
# Author: Mohammed Murshid (murshidm@bu.edu), 11/4/2024
# Description: login page
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}