<!--
# File: show_all_profiles.html
# Author: Mohammed Murshid (murshidm@bu.edu), 10/6/2024
# Description: main page
-->

{% extends 'mini_fb/base.html' %}

{% block title %}
    All Profiles
{% endblock %}

{% block content %}
    <h2>All Profiles</h2>
    <table class="profile-table">
        <thead>
            <tr>
                <th>Profile Image</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>
                    <a href="{% url 'show_profile' profile.pk %}">
                        <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }} {{ profile.last_name }}" class="profile-image">
                    </a>
                </td>
                <td>
                    <a href="{% url 'show_profile' profile.pk %}">{{ profile.first_name }}</a>
                </td>
                <td>
                    <a href="{% url 'show_profile' profile.pk %}">{{ profile.last_name }}</a>
                </td>
                <td>{{ profile.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}