{% extends 'quotes/base.html' %}

{% block content %}
<!--Information about Albert Einstein-->
<div class="about-container">
    <h2>Welcome!</h2>
    <p>Welcome to the Quote of the Day application!</p>
    <p>This application displays quotes by and images of <a href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Albert Einstein</a>.</p>
    <p>Albert Einstein is one of the most famous physicists ever. As the developer of the <a href="https://en.wikipedia.org/wiki/Theory_of_relativity" target="_blank">Theory of Relativity</a>, Einstein revolutionized modern physics. After publishing his theory in 1915, Einstein continued to make significant contributions to science until his passing in 1955.</p>
</div>
<!--Information about me-->
<div class="about-container">
    <h2>Creator Info</h2>
    <p>Hi! My name is Mohammed Faizan Murshid. I am a senior at Boston University, where I major in Computer Science and minor in Business Administration and Management.</p>
</div>

{% endblock %}